body{
    font-family: 'Azeret Mono', monospace;
}

.custom-ms-12 {
    margin-left: 3rem;
}


.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

.section-divider {
    width: 100%;
    height: 1px;
    background-color: #ccccccc4;
    margin-top: 20px;
    margin-bottom: 20px; 
}

#bar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #7ea7ff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 1000;
}

#section-main{
    margin: 0;
    padding: 0;
    height: 100vh;
}

#CONTACT{
    margin-top: 10vh;
    height: 90vh;
}

.icons-container {
    display: flex;
    align-items: center; 
    gap: 50px; 
}

