<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/H14086179.jpg"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">我在大學和碩士期間以 <span id="js-rotating">工業工程, 資訊管理, 財務會計</span> 為主修</h4>
  </div>
  <div class="user-content">
    <b style="font-size: 22px;"><br><br>Welcome to my webpage!</b><br>
    <p>I am a former student of National Cheng Kung University and currently pursuing my studies at National Taiwan University. 
      <br>My primary objective is interdisciplinary learning, with a deep interest in the field of Industrial Engineering.</p>
      <p>My double major in Accounting and Industrial and Information Management has provided me with opportunities to develop interdisciplinary knowledge, enabling me to quickly adapt to evolving systems, requirements, and team dynamics while fostering decisiveness when needed. 
        I aspire to take on an active and motivating role, encouraging creativity within and across teams. 
        I am confident that I can leverage my subject expertise and interpersonal skills to enhance team performance effectively.</p>
      <p>Preferred workplace: Taipei, Kaohsiung</p>

  </div>
</div>