<br><br>
<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/H14086179.jpg"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">My major includes <br> <span id="js-rotating">Industrial Engineering, IT Management, Accountancy, Finance</span></h4>
  </div>

  <div class="user-content">
    <b style="font-size: 20px;"><br><br>歡迎來到我的個人網頁！</b><br><br>

    <p><b>簡介</b></p>
    <p>我是王泓達。我畢業於國立成功大學，取得會計學系學士學位並雙主修工業與資訊管理，目前正於國立台灣大學攻讀工業工程碩士學位。大學期間的會計訓練，培養了我嚴謹的問題解決能力以及對商業營運的深刻理解；而工資管的學習則結合了產業實務與資訊管理，使我具備將計畫轉化為實際成果的執行力。在臺大決策科學實驗室，我致力於動態定價領域的研究，主要應用的方法論包含馬可夫決策過程（MDP）、時間序列分析以及深度學習。</p>

    <p><b>實務應用</b></p>
    <p>除了學術知識，我也積極將理論框架應用於真實世界的挑戰。大學時期，我參與了成功盃個案分析個案分析競賽，我們團隊透過為 AKB48 制定海外拓點的成本預算與行銷策略，成功奪得冠軍。就讀研究所期間，我參加了中華郵政大數據競賽，並榮獲最佳創意獎與叡揚資訊特別獎。該專案聚焦於郵筒設置地點的最佳化，我們運用時間序列分析與非線性規劃，預期能為新選定的郵筒地點帶來 7.5 倍的收益成長。</p>

    <p><b>個人期許</b></p>
    <p>我冀望自己能在團隊中扮演積極且具激勵作用的角色，並透過核心團隊與跨部門的協作來激發創造力。憑藉著我在數據分析的專業與良好的人際溝通能力，我有信心能為團隊帶來嶄新的視角、推動創新，提升整體的團隊表現。我堅信，毅力與清晰的思維是追求卓越與持續自我提升的關鍵。</p>
      
    <p><b>我認為堅持不懈和清晰的思路是取得成功和自我提升的關鍵。</b></p>
      
  </div> 
  <br>
  <hr>
  <div class="user-content">
    <b style="font-size: 20px;"><br>Welcome to my webpage!</b><br><br>
    <p><b>Introduction</b></p>
    <p>I am Hung-Ta Wang. I hold dual bachelor’s degrees in Accounting and Industrial and Information Management from National Cheng Kung University (NCKU), and I am currently pursuing a master’s degree in Industrial Engineering at National Taiwan University (NTU). My undergraduate training in accounting has instilled in me a meticulous approach to problem-solving and a solid understanding of business operations. Meanwhile, my studies in Industrial and Information Management provided a combination of industrial practices and information management, enabling me to transform plans into actionable outcomes. At NTU, I am conducting research on dynamic pricing at the Decision Science Laboratory, focusing on methodologies such as Markov Decision Processes, Dynamic Programming, Time Series Analysis, and Deep Neural Networks.</p>
    
    <p><b>Practical Applications</b></p>
    <p>Beyond academic knowledge, I have applied theoretical frameworks to real-world challenges. During my undergraduate studies, I participated in the NCKU Case Study Competition, where our team won the championship by presenting cost budgeting and marketing strategies for AKB48’s overseas expansion. As a master’s student, I competed in the Chunghwa Post Co., Ltd. Big Data Competition and won the Creativity Award and Special Award by Galaxy Software Services. Our project centered on optimizing mailbox placement, where we utilized Time Series Analysis and Nonlinear Programming to achieve a projected revenue growth of 7.5 times for newly selected locations.</p>
        
    <p><b>Personal Aspirations</b></p>
    <p>I aspire to play a positive and motivating role within a team, fostering creativity through collaboration both within the core team and across departments. With my expertise in analytics and strong interpersonal communication skills, I am confident in my ability to bring fresh perspectives, drive innovation, and enhance overall team performance.</p>
    
    <p><b>I believe that persistence and clarity of thought are key to achieving excellence and continuous self-improvement.</b></p>
  </div> 
</div>