<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="my_photo.jpg"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">我在大學和碩士期間以 <span id="js-rotating">工業工程, 資訊管理, 財務會計, 金融商品</span> 為主修</h4>
  </div>
  <div class="user-content">
    <b style="font-size: 24px;"><br><br>Welcome to my webpage!</b><br>
    <p>A former student at National Cheng Kung University and now studying in National Taiwan University.<br>Interdisciplinary learning is my core objective.<br>I am fascinated in Industrial Engineering.<br><br><br>Preferred workplace: Taipei, Kaohsiung<br>This webpage is phone-compatible.</p>
    <br>
  </div>
</div>